.health-bar {
  height: 24px;
  width: 30%;
  min-width: 200px;
  max-width: 300px;
  padding: 3px;

  box-sizing: border-box;
  border: 3px solid #ffffff;
}

.health-bar__points {
  background-color: #ffffff;

  height: 100%;
}
